<div class="section section-image section-register" style="background-image: url('assets/img/login-image.jpg');">
  <div class="container mt-5">
      <div class="row">
          <div class="col-lg-4 col-md-6 col-sm-12 ml-auto mr-auto">
              <div class="card card-register bg-info">
                  <h3 class="title">Register Form</h3>

                  <form [formGroup]="signupForm" class="register-form">               
                      <label>Email</label>
                      <div class="input-group form-group-no-border">
                        <div class="input-group-prepend">
                          <span class="input-group-text">
                              <i class="nc-icon nc-email-85"></i>
                          </span>
                        </div>
                        <input type="text" class="form-control" placeholder="Email" formControlName="email">
                        <div *ngIf="email.invalid && (email.dirty || email.touched)">
                          <p *ngIf="email.errors.required" style="font-size: small; color: red">Required</p>
                          <p *ngIf="email.errors.emailTaken" style="font-size: small; color: red">Already Taken</p>
                        </div>                        
                      </div>

                      <label>Password</label>
                      <div class="input-group form-group-no-border">
                        <div class="input-group-prepend">
                          <span class="input-group-text">
                              <i class="nc-icon nc-key-25"></i>
                          </span>
                        </div>
                          <input type="password" class="form-control" placeholder="Password" formControlName="password">
                      </div>

                      <label>Confirm Password</label>
                      <div class="input-group form-group-no-border mb-5">
                        <div class="input-group-prepend">
                          <span class="input-group-text">
                              <i class="nc-icon nc-key-25"></i>
                          </span>
                        </div>
                          <input type="password" class="form-control" placeholder="Password" formControlName="confirmPassword">
                      </div>                      

                      <input type="submit" value="Sign Up" class="btn btn-neutral btn-block btn-round" (click)="signup()">
                  </form>
              </div>
          </div>
      </div>
  </div>
</div>
