<div class="container">
    <form>
      <div class="row">
        <div class="col">
          <label for="inputEmail4">Nombre</label>
          <input type="text" class="form-control" placeholder="Nombre" />
        </div>
        <div class="col">
          <label for="inputEmail4">Precio</label>
          <input type="number" class="form-control" placeholder="Precio" />
        </div>
      </div>
      <div class="row">
        <div class="col">
          <label for="inputEmail4">Pequeña descripcion</label>
          <input type="text" class="form-control" placeholder="First name" />
        </div>
       
      </div>
      <div class="row">
        <div class="col">
          <label for="inputEmail4">Descripcion</label>
          <textarea class="form-control is-invalid" id="validationTextarea" placeholder="Required example textarea" required></textarea>
        </div>
      </div>
        
    </form>

</div>
