<div
  class="section section-image section-login"
  style="background-image: url('assets/img/login-image.jpg')"
>
  <div class="container mt-5">
    <div class="row mt-4 pt-4 pb-4 div_trans5 corner4">
      <div class="col-lg-12 col-md-6 col-sm-12 ml-auto mr-auto text-white">
        
        <p>Nuevo Producto</p>
        <form>
          <div class="form-row">
            <div class="col">
              <label for="nameInput">Nombre</label>
              <input
                type="text"
                class="form-control"
                id="nameInput"
                name="nameInput"
                [(ngModel)]="nameInput"
              />
            </div>
            <div class="col">
              <label for="nameInput">Precio</label>
              <input
                type="text"
                class="form-control"
                id="priceInput"
                name="priceInput"
                [(ngModel)]="priceInput"
              />
            </div>
          </div>
          <div class="form-row mt-3">
            <div class="col">
              <label for="descriptionInput">Descripción Corta</label>
              <input
                type="text"
                class="form-control"
                id="descriptionInput"
                name="descriptionInput"
                [(ngModel)]="descriptionInput"
              />
            </div> 
            <div class="col ">
              <label for="image" >Imágenes:</label>
              <input class="form-control"
                placeholder="Imágenes"
                type="file"
                accept="image/*"
                name="imageInput[]" 
                id="imageInput"
                [(ngModel)]="imageInput" 
                multiple
              /> 
              <!-- <input type="file" accept="image/*" > -->
            </div>         
          </div>
          <div class="form-row mt-3">
            <label for="validationTextarea">Textarea</label>
            <textarea class="form-control"  
            placeholder="Required example textarea"
            id="descriptionLongInput"
            name="descriptionLongInput"
            [(ngModel)]="descriptionLongInput" ></textarea>
          </div>
          <div>
            <button type="submit" class="btn btn-primary mt-3" (click)="onAddProduct()">
              Guardar
            </button>
          </div> 
          
        </form>
      </div>
    </div>

    
  </div>
</div>
