
.div_trans2 { background-color: rgba(0, 0, 0, 0.2); }
.div_trans5 { background-color: rgba(0, 0, 0, 0.5); }
.div_trans8 { background-color: rgba(0, 0, 0, 0.8); }
.div_trans9 { background-color: rgba(0, 0, 0, 0.9); }
.corner4 { border-radius: 15px; }
.corner5 { border-radius: 20px; }
.cursor-link { cursor:pointer; text-decoration:none; }