<div class="section section-image section-login" style="background-image: url('assets/img/login-image.jpg');">
  <div class="container mt-5">
      <div class="row mt-4 pt-4 pb-4 div_trans5 corner4">
        <div class="col-lg-12 col-md-6 col-sm-12 ml-auto mr-auto text-white"> 
        <h3>Etiquestas de la categoria: {{nameCategory}}</h3>      
        <p>Nueva Etiqueta</p>
        <form>
          <div class="form-group">
            <label for="nameInput">Nombre</label>
            <input
              type="text"
              class="form-control"
              id="nameInput"
              name="nameInput"
              [(ngModel)]="nameInput"
            />
          </div>
          <div *ngIf="buttonSave; else buttonUpdate">
            <button type="submit" class="btn btn-primary" (click)="onAddTag()">Guardar</button>
          </div>
          <ng-template #buttonUpdate>
            <div>
              <button type="submit" class="btn btn-success" (click)="update()">Actualizar</button>
              <button type="submit" class="btn btn-danger" (click)="onButtonAdd()">Cancelar</button>
            </div>
          </ng-template>
        </form>
      </div> 
    </div> 

      <div class="row mt-4 pt-4 pb-4 div_trans5 corner4 justify-content-center">
        <h6 class="text-white mb-4">Listado de Etiquetas</h6>        
        <table class="table text-white m-2">
          <thead>
            <th>Id</th>
            <th>Nombre</th>
            <th class="text-center">Estado</th>
            <th class="text-center">Eliminar</th>
            <th class="text-center">Actualizar</th>
          </thead>
          <tbody>
            <tr *ngFor="let tag of tags">
              <td>{{ tag.id }}</td>
              <td>{{ tag.name }}</td>
              <td class="text-center" *ngIf="tag.isActive != 0; else desactivado">
                  <a class="cursor-link" (click)="onChangeStatus(tag.category_id, tag.id)"><i class="fa fa-eye text-white"></i></a>
              </td>
              <ng-template #desactivado>
                <td class="text-center">
                  <a class="cursor-link" (click)="onChangeStatus(tag.category_id, tag.id)"><i class="fas fa-eye-slash text-white"></i></a>
                </td>
              </ng-template>
              <td class="text-center"><button class="btn btn-danger btn-sm mr-2" (click)="onDelete(tag.category_id, tag.id)"><i class="fa fa-trash-o"></i> Eliminar</button></td>
              <td class="text-center"><button class="btn btn-success" (click)="onUpdate(tag)"><i class="fa fa-pencil-square-o"></i>Actualizar</button></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>          